{% extends 'base.html.twig' %}

{% block title %}Login - Gerenciador{% endblock %}

{% block body %}
    <section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="{{ asset('styles/img/draw2-svg.svg')}}"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form method="post">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" placeholder="Exemplo@exemplo.com" />

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" placeholder="Senha"/>
                    </div>
                    <input type="hidden" name="_target_path" value="/dashboard">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                            <label class="form-check-label" for="form1Example3"> Lembre-se de mim </label>
                        </div>
                        <a href="#!">Esqueceu a senha?</a>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
                    {% if app.user %}
                        <div class="mb-3">
                            Você já está conectado com {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Sair?</a>
                        </div>
                    {% endif %}
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
