{% extends 'base.html.twig' %}
{% block body %}
    <div class="content_add">
        <a class="botao_adicionar" href="{{ path('cadastroValorFuncionario') }}">
            <button>Valores</button>
        </a>
    </div>
        <div class="content-body">
            <table class="content-table">
                <thead>
                <tr>
                    <th>Funcionário</th>
                    <th>Valor/Hora</th>
                    <th>Data Inicio</th>
                    <th>Data Fim</th>
                    <th>Ações</th>
                </tr>
                </thead>
                {% for valor in valorfuncionario %}
                    <tbody>
                    <tr>
                        <td>{{ valor.idFuncionario.nomeFuncionario }}</td>
                        <td>{{ valor.valorHora }}</td>
                        <td>{{ valor.dataIni |date('d-m-Y')}}</td>
                        <td>{{ valor.dataFim |date('d-m-Y')}}</td>
                        <td class="acoes">
                            <a href="{{ path('editarValorFuncionario', {id: valor.id }) }}" title="Editar"><i class="fa-solid fa-pen edit"></i></a>
                            <a href="{{ path('deleteValorFuncionario', {id: valor.id }) }}" title="Excluir"><i class="fa-solid fa-trash delete"></i></a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

{% endblock %}