{% extends "base.html.twig" %}
{% block body %}
    <div class="sidebar close" style="opacity: inherit !important;">
        <header>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="image-text">
                <span class="image">
                    <img src="{{ app.user.imageName is null ? asset('styles/img/no-image.png') : asset('perfil/' ~ app.user.imageName) }}" >
                </span>
                <div class="text logo-text" style="padding-right: 10px;">
                    <a href="{{ path('perfilUser', { user: app.user.nome } )  }}">
                        <span class="name">{{ app.user.nome }}</span>
                    </a>
                </div>
            </div>
            {% endif %}
            <i class="fa-solid fa-angle-right toggle"></i>
        </header>
        <ul class="nav-links">
            <li>
                <a href="{{ path('app_dashboard') }}">
                    <i class="fa-solid fa-house"></i>
                    <span class="link_name">Home</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{{ path('app_dashboard') }}">Home</a></li>
                </ul>
            </li>

            {% if 'ROLE_ADMIN' in app.user.roles %}
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="fa-solid fa-gears"></i>
                        <span class="link_name">Administrador</span>
                    </a>
                    <i class="fa-solid fa-angle-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Administrador</a></li>
                    <li><a href="{{ path('app_dados') }}">Tratamento de Dados</a></li>
                    <li><a href="{{ path('funcionario') }}">Funcionário</a></li>
                </ul>
            </li>
            {% endif %}

            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="fa-solid fa-paper-plane"></i>
                        <span class="link_name">Projetos</span>
                    </a>
                    <i class="fa-solid fa-angle-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Projetos</a></li>
                    <li><a href="{{ path('projeto') }}">Projeto</a></li>
                    <li><a href="{{ path('tarefa') }}">Tarefa</a></li>
                </ul>
            </li>
            <li>
                <a href="{{ path('cliente') }}">
                    <i class="fa-solid fa-users"></i>
                    <span class="link_name">Clientes</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{{ path('cliente') }}">Clientes</a></li>
                </ul>
            </li>
            <li>
                <div class="footer_sidebar">
                    <a href="{{ path('app_logout') }}">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="text">Sair</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }

        const body = document.querySelector('body'),
            sidebar = body.querySelector('.sidebar'),
            toggle = body.querySelector(".toggle"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");

        toggle.addEventListener("click" , () =>{
            sidebar.classList.toggle("close");
        })


    </script>
{% endblock %}