{% extends 'base.html.twig' %}
{% block body %}
    {% include 'include/admin_navbar.html.twig' %}
    <section class="home">
        {% include 'include/navbar_top.html.twig' %}
        <div class="container-fluid">
            <div class="card" >
                <div class="card-header">
                    <h3>Cadastrar Tarefa</h3>
                </div>
                <div class="card-body">
                    {{form_start(tarefa) }}

                    <div class="row">
                        <div class="col-lg-3">
                            {{ form_row(tarefa.idProjeto, {'attr': {'class': 'camposInput'}}) }}
                        </div>

                        <div class="col-lg-3">
                            {{ form_row(tarefa.nome, {'attr': {'class': 'camposInput'}}) }}
                        </div>
                        <div class="col-lg-3">
                            {{ form_row(tarefa.idFuncionario, {'attr': {'class': 'camposInput'}}) }}
                        </div>
                        <div class="col-lg-3">
                            {{ form_row(tarefa.prioridade, {'attr': {'class': 'camposInput'}}) }}
                        </div>

                        <div class="col-lg-3">
                            {{ form_row(tarefa.tipoTarefa, {'attr': {'class': 'camposInput'}}) }}
                        </div>
                        <div class="col-lg-3">
                            {{ form_row(tarefa.status, {'attr': {'class': 'camposInput'}}) }}
                        </div>
                        <div class="col-lg-3">
                            {{ form_row(tarefa.situacao, {'attr': {'class': 'camposInput'}}) }}
                        </div>
                        <div class="col-lg-3">
                            {{ form_row(tarefa.porcentagem, {'attr': {'class': 'camposInput'}}) }}
                        </div>
                        <div class="col-lg-3">
                            {{ form_row(tarefa.tempoEstimado, {'attr': {'class': 'camposInput'}}) }}
                        </div>
                        <div class="col-lg-3">
                            {{ form_row(tarefa.tempoGasto, {'attr': {'class': 'camposInput'}}) }}
                        </div>
                        <div class="col-lg-3">
                            {{ form_row(tarefa.dataIni, {'attr': {'class': 'camposInput'}}) }}
                        </div>
                        <div class="col-lg-3">
                            {{ form_row(tarefa.dataFim, {'attr': {'class': 'camposInput'}}) }}
                        </div>

                        <div class="col-lg-12">
                            {{ form_row(tarefa.descricao, {'attr': {'class': 'camposInput'}}) }}
                        </div>
                    </div>
                    <div class="col-lg-12" style="margin-top: 15px !important;">
                        <div class="form-group" style="float: right">
                            <button class="btn btn-danger" name="cancel" type="submit" value="Cancel" formnovalidate>Cancelar</button>
                            <button class="btn btn-success " type="submit" >Salvar</button>
                        </div>
                    </div>
                    {{ form_end(tarefa) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}


