{% extends 'base.html.twig' %}
{% block body %}
    {% include 'include/admin_navbar.html.twig' %}
    <section class="home">
        {% include 'include/navbar_top.html.twig' %}

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <div class="container-fluid">
            <div class="card" >
                <div class="card-header">
                    <h3>{{ title }}</h3>
                </div>
                <div class="card-body">
                        {{form_start(registrationForm) }}

                        <div class="row">

                            <div class="col-lg-4">
                                {{ form_row(registrationForm.nome, {'attr': {'class': 'camposInput'}}) }}
                            </div>

                            <div class="col-lg-4">
                                {{ form_row(registrationForm.email, {'attr': {'class': 'camposInput'}}) }}
                            </div>

                            <div class="col-lg-4">
                                {{ form_row(registrationForm.cargaHorariaSemanal, {'attr': {'class': 'camposInput'}}) }}
                            </div>

                            <div class="col-lg-4">
                                {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'camposInput'}})  }}
                            </div>

                            <div class="col-lg-4 ">
                                {{ form_row(registrationForm.roles, {'attr': {'class': 'camposInput'}}) }}
                            </div>

                            <div class="col-lg-4 ">
                                {{ form_row(registrationForm.isAtivo, {'attr': {'class': 'camposInput'}}) }}
                            </div>
                            <div class="col-lg-12" style="margin-top: 15px !important;">
                                <div class="form-group" style="float: right">
                                    <button class="btn btn-danger" name="cancel" type="submit" value="Cancel" formnovalidate>Cancelar</button>
                                    <button class="btn btn-success " type="submit" >Salvar</button>
                                </div>
                            </div>
                            {{ form_end(registrationForm) }}
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


