{% extends 'base.html.twig' %}
{% block body %}
    {% include 'include/admin_navbar.html.twig' %}
    <section class="home">
        <header>
            <div class="cabecalho">
                <p>Funcionário</p>
                <div class="search-bar">
                    <input type="text" placeholder="Buscar...">
                    <a class="botao_buscar"><button>Buscar</button></a>
                </div>
            </div>
        </header>
        <div class="content_add">
            <a class="botao_adicionar" href="{{ path('cadastroFuncionario') }}"><button>+ Adicionar Funcionario</button></a>
        </div>
        <div class="content-body">
            <table class="content-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Carga Horaria</th>
                    <th>Ações</th>
                </tr>
                </thead>
                {% for funcionario in funcionario %}
                <tbody>
                <tr>
                    <td>{{ funcionario.id }}</td>
                    <td>{{ funcionario.nomeFuncionario }}</td>
                    <td>{{ funcionario.emailFuncionario }}</td>
                    <td>{{ funcionario.cargaHorariaSemanal}}</td>
                    <td class="acoes">
                        <a href="{{ path('editarFuncionario', {id: funcionario.id}) }}" title="Editar"><i class="fa-solid fa-pen edit"></i></a>
                        <a href="{{ path('deleteFuncionario', {id: funcionario.id}) }}" title="Excluir"><i class="fa-solid fa-trash delete"></i></a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}