{% extends 'base.html.twig' %}
{% block body %}
    {% include 'include/admin_navbar.html.twig' %}
    <section class="home">
        <h1>Cadastrar Valores</h1>
        {% block form %}
        {% endblock %}
        <div class="form_cadastro">
            {{form_start(valorfuncionario) }}

            <div class="row_cadastro">
                <div class="column">
                    {{ form_row(valorfuncionario.idFuncionario) }}
                </div>
                <div class="column">
                    {{ form_row(valorfuncionario.valorHora) }}
                </div>
            </div>
            <div class="row_cadastro">
                <div class="column">
                    {{ form_row(valorfuncionario.dataIni) }}
                </div>
                <div class="column">
                    {{ form_row(valorfuncionario.dataFim) }}
                </div>
            </div>
            <div class="footer">
                <button class="cancel" name="cancel" type="submit" value="Cancel" formnovalidate>Cancelar</button>
                <button class="salvar" type="submit">Salvar</button>
            </div>
            {{ form_end(valorfuncionario) }}
        </div>
    </section>
{% endblock %}


