{% extends 'base.html.twig' %}
{% block body %}
    {% include 'include/admin_navbar.html.twig' %}
    <section class="home">
        {% include 'include/navbar_top.html.twig' %}
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-6"><h4 class="card-title" id="hidden-label-round-controls">Tarefas</h4></div>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-top: 15px;">
                    <div class="form-group" style="float: right; margin: 0 1.3rem 0 0">
                        <a class="btn btn-success" href="{{ path('cadastroTarefa') }}">Adicionar Tarefa</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="form-group">
                            <table class="table table-hover table-striped table-dataTables">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Projeto</th>
                                    <th>Nome</th>
                                    <th>Atribuído para</th>
                                    <th>Prioridade</th>
                                    <th>Status</th>
                                    <th>Porcentagem</th>
                                    <th>Ações</th>
                                </tr>
                                </thead>
                                {% for tarefa in tarefa %}
                                    <tbody>
                                    <tr onclick="window.location='{{ path('detalheTarefa', {id: tarefa.id}) }}';">
                                        <td>{{ tarefa.id }}</td>
                                        <td>{{ tarefa.idProjeto.nome }}</td>
                                        <td>{{ tarefa.nome }}</td>
                                        <td>{{ tarefa.idFuncionario.nomeFuncionario }}</td>
                                        <td>{{ tarefa.prioridade }}</td>
                                        <td>{{ tarefa.status }}</td>
                                        <td>{{ tarefa.porcentagem }}%</td>
                                        <td>
                                            <a class="btn btn-primary"
                                               href="{{ path('editarTarefa', {id: tarefa.id}) }}" title="Editar"><i
                                                        class="fa-solid fa-pen edit"></i></a>
                                            <a class="btn btn-danger"
                                               href="{{ path('deleteTarefa', {id: tarefa.id}) }}" title="Excluir"><i
                                                        class="fa-solid fa-trash delete"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ asset('styles/JS/dados.js') }}"></script>
{% endblock %}