{% extends 'base.html.twig' %}
{% block body %}
    {% include 'include/admin_navbar.html.twig' %}
    <section class="home">
        <header>
            <div class="cabecalho">
                <p>Cliente</p>
                <div class="search-bar">
                    <input type="text" placeholder="Buscar...">
                    <a class="botao_buscar"><button>Buscar</button></a>
                </div>
            </div>
        </header>
        <div class="content_add">
            <a class="botao_adicionar" href="{{ path('editarCliente', {id: cliente.id}) }}">
                <button>Editar Cliente</button>
            </a>
        </div>
        <div class="separacao"></div>
        <div class="info_detalhes">
            <div>
                <h6>Nome:</h6>
                <p class="info">   {{ cliente.nomeCliente }}</p>
            </div>
            <div>
                <h6>Email:</h6>
                <p class="info">  {{ cliente.emailCliente }}</p>
            </div>
            <div>
                <h6>Tipo:</h6>
                <p class="info">  {{ cliente.tipoCliente }}</p>
            </div>
            <div>
                <h6>Celular:</h6>
                <p class="info"> {{ cliente.celularCliente }}</p>
            </div>
            <div>
                <h6>CPF/CNPJ:</h6>
                <p class="info"> {{ cliente.cpf_cnpj }}</p>
            </div>
        </div>
    </section>
{% endblock %}


