{% extends 'base.html.twig' %}
{% block body %}
    {% include 'include/admin_navbar.html.twig' %}
    <section class="home">
        <h1>CADASTRAR CLIENTE</h1>
        {% block form %}
        {% endblock %}
        <div class="form_cadastro">
            {{form_start(cliente) }}

            <div class="row_cadastro">
                <div class="column">
                    {{ form_row(cliente.nomeCliente) }}
                </div>
                <div class="column">
                    {{ form_row(cliente.tipoCliente) }}
                </div>
            </div>


            <div class="row_cadastro">
                <div class="column">
                    {{ form_row(cliente.emailCliente) }}
                </div>
                <div class="column">
                    {{ form_row(cliente.celularCliente) }}
                </div>
            </div>

            <div class="row_cadastro">
                <div class="column">
                    {{ form_row(cliente.cpf_cnpj ) }}
                </div>
            </div>

            <div class="footer">
                <button class="cancel" name="cancel" type="submit" value="Cancel" formnovalidate>Cancelar</button>
                <button class="salvar" type="submit">Salvar</button>
            </div>



            <script
                    src="https://code.jquery.com/jquery-3.6.0.js"
                    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                    crossorigin="anonymous"></script>
            <script>
                // declare var $: any;
                // ;

                // document.getElementById('exampleModal').modal('show');
            </script>
            {{ form_end(cliente) }}
        </div>
    </section>
{% endblock %}


