{% extends 'base.html.twig' %}
{% block body %}
    {% include 'include/admin_navbar.html.twig' %}
    <section class="home">
        <header>
            <div class="cabecalho">
                <p>Cliente</p>
                <div class="search-bar">
                    <input type="text" placeholder="Buscar...">
                    <a class="botao_buscar"><button>Buscar</button></a>
                </div>
            </div>
        </header>
        <div class="content_add">
            <a class="botao_adicionar" href="{{ path('cadastroCliente') }}"><button>+ Adicionar Cliente</button></a>
        </div>
        <div class="content-body">
            <table class="content-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Tipo</th>
                    <th>Celular</th>
                    <th>Nº CPF/CNPJ</th>
                    <th>Ações</th>
                </tr>
                </thead>
                {% for cliente in cliente %}
                    <tbody>
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nomeCliente }}</td>
                        <td>{{ cliente.emailCliente }}</td>
                        <td>{{ cliente.tipoCliente }}</td>
                        <td>{{ cliente.celularCliente }}</td>
                        <td>{{ cliente.cpf_cnpj }}</td>
                        <td class="acoes">
                            <a href="{{ path('editarCliente', {id: cliente.id}) }}" title="Editar"><i class="fa-solid fa-pen edit"></i></a>
                            <a href="{{ path('deleteCliente', {id: cliente.id}) }}" title="Excluir"><i class="fa-solid fa-trash delete"></i></a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}