{% extends 'base.html.twig' %}
{% block body %}
    {% include 'include/admin_navbar.html.twig' %}
    <section class="home">
        <header>
            <div class="cabecalho">
                <p>Sprint</p>
                <div class="search-bar">
                    <input type="text" placeholder="Buscar...">
                    <a class="botao_buscar"><button>Buscar</button></a>
                </div>
            </div>
        </header>
        <div class="content_add">
            <a class="botao_adicionar" href="{{ path('cadastroSprint') }}"><button>+ Adicionar Sprint</button></a>
        </div>
        <div class="content-body">
            <table class="content-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Situacao</th>
                    <th>Versão</th>
                    <th>Semanas de Duração</th>
                    <th>Data Incial</th>
                    <th>Data Final</th>
                    <th>Ações</th>
                </tr>
                </thead>
                {% for sprint in sprint %}
                    <tbody>
                    <tr>
                        <td><a href="{{ path('detalheSprint', {id: sprint.id}) }}">{{ sprint.id }}</a></td>
                        <td><a href="{{ path('detalheSprint', {id: sprint.id}) }}">{{ sprint.situacao }}</a></td>
                        <td><a href="{{ path('detalheSprint', {id: sprint.id}) }}">{{ sprint.versao }}</a></td>
                        <td><a href="{{ path('detalheSprint', {id: sprint.id}) }}">{{ sprint.duracao }}</a></td>
                        <td><a href="{{ path('detalheSprint', {id: sprint.id}) }}">{{ sprint.dataIni |date('d-m-Y')}}</td>
                        <td><a href="{{ path('detalheSprint', {id: sprint.id}) }}">{{ sprint.dataFim |date('d-m-Y')}}</a></td>

                        <td class="acoes">
                            <a href="{{ path('editarSprint', {id: sprint.id}) }}" title="Editar"><i class="fa-solid fa-pen edit"></i></a>
                            <a href="{{ path('deleteSprint', {id: sprint.id}) }}" title="Excluir"><i class="fa-solid fa-trash delete"></i></a>
                        </td>

                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}