{% extends 'base.html.twig' %}
{% block body %}
    {% include 'include/admin_navbar.html.twig' %}
    <section class="home">
        <header>
            <div class="cabecalho">
                <p>Tarefa</p>
                <div class="search-bar">
                    <input type="text" placeholder="Buscar...">
                    <a class="botao_buscar"><button>Buscar</button></a>
                </div>
            </div>
        </header>
        <div class="content_add">
            <a class="botao_adicionar" href="{{ path('cadastroTarefa') }}"><button>+ Adicionar Tarefa</button></a>
        </div>
        <div class="content-body">
            <table class="content-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Projeto</th>
                    <th>Nome</th>
                    <th>Atribuído para</th>
                    <th>Prioridade</th>
                    <th>Status</th>
                    <th>Porcentagem</th>
                    <th>Ações</th>
                </tr>
                </thead>
                {% for tarefa in tarefa %}
                    <tbody>
                    <tr>
                        <td><a href="{{ path('detalheTarefa', {id: tarefa.id}) }}">{{ tarefa.id }}</a></td>
                        <td><a href="{{ path('detalheTarefa', {id: tarefa.id}) }}">{{ tarefa.idProjeto.nome }}</a></td>
                        <td><a href="{{ path('detalheTarefa', {id: tarefa.id}) }}">{{ tarefa.nome }}</a></td>
                        <td><a href="{{ path('detalheTarefa', {id: tarefa.id}) }}">{{ tarefa.idFuncionario.nomeFuncionario}}</a></td>
                        <td><a href="{{ path('detalheTarefa', {id: tarefa.id}) }}">{{ tarefa.prioridade }}</a></td>
                        <td><a href="{{ path('detalheTarefa', {id: tarefa.id}) }}">{{ tarefa.status }}</td>
                        <td><a href="{{ path('detalheTarefa', {id: tarefa.id}) }}">{{ tarefa.porcentagem }}%</a></td>

                        <td class="acoes">
                            <a href="{{ path('editarTarefa', {id: tarefa.id}) }}" title="Editar"><i class="fa-solid fa-pen edit"></i></a>
                            <a href="{{ path('deleteTarefa', {id: tarefa.id}) }}" title="Excluir"><i class="fa-solid fa-trash delete"></i></a>
                        </td>

                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}