{% extends 'base.html.twig' %}
{% block body %}
    {% include 'include/admin_navbar.html.twig' %}
    <section class="home">
        <h1>CADASTRAR TAREFA</h1>
        <div class="form_cadastro">
            {{form_start(tarefa) }}

            <div class="row_cadastro">
                <div class="column">
                    {{ form_row(tarefa.idProjeto) }}
                </div>
                <div class="column">
                    {{ form_row(tarefa.idFuncionario) }}
                </div>
            </div>


            <div class="row_cadastro">
                <div class="column">
                    {{ form_row(tarefa.prioridade) }}
                </div>
                <div class="column">
                    {{ form_row(tarefa.situacao) }}
                </div>
            </div>

            <div class="row_cadastro">
                <div class="column">
                    {{ form_row(tarefa.nome) }}
                </div>
                <div class="column">
                    {{ form_row(tarefa.status) }}
                </div>
            </div>

            <div class="row_cadastro">
                <div class="column">
                    {{ form_row(tarefa.tipoTarefa) }}
                </div>
                <div class="column">
                    {{ form_row(tarefa.porcentagem) }}
                </div>
            </div>
            <div class="row_cadastro">
                <div class="column">
                    {{ form_row(tarefa.tempoGasto) }}
                </div>
                <div class="column">
                    {{ form_row(tarefa.tempoEstimado) }}
                </div>
            </div>

            <div class="row_cadastro">
                <div class="column">
                    {{ form_row(tarefa.dataIni) }}
                </div>
                <div class="column">
                    {{ form_row(tarefa.dataFim) }}
                </div>
            </div>
            <div class="row_cadastro">
                <div class="column_textArea">
                    {{ form_row(tarefa.descricao) }}
                </div>
            </div>

            <div class="footer">
                <button class="cancel" name="cancel" type="submit" value="Cancel" formnovalidate>Cancelar</button>
                <button class="salvar" type="submit">Salvar</button>
            </div>
            {{ form_end(tarefa) }}
        </div>
    </section>
{% endblock %}


