{% extends 'base.html.twig' %}
{% block body %}
    {% include 'include/admin_navbar.html.twig' %}
    <section class="home">
        {% include 'include/navbar_top.html.twig' %}
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-6"><h4 class="card-title" id="hidden-label-round-controls">Funcionário</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-top: 15px;">
                    <div class="form-group" style="float: right; margin: 0 1.3rem 0 0">
                        <a class="btn btn-success" href="{{ path('cadastroFuncionario') }}">Adicionar Funcionario</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="form-group">
                            <table class="table table-striped table-hover table-dataTables">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>Carga Horaria</th>
                                    <th>Administrador</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for funcionario in funcionario %}
                                    <tr onclick="window.location='{{ path('detalheFuncionario', {id: funcionario.id}) }}';">
                                        <td>{{ funcionario.id }}</td>
                                        <td>{{ funcionario.nomeFuncionario }}</td>
                                        <td>{{ funcionario.emailFuncionario }}</td>
                                        <td>{{ funcionario.cargaHorariaSemanal }}</td>
                                        <td>
                                            {{ (funcionario.isAdmin == 1) ? "Sim" : "Não" }}
                                        </td>
                                        <td>
                                            {{ (funcionario.isAtivo == 1) ? "Ativo" : "Desativo" }}
                                        </td>
                                        <td>
                                            <a class="btn btn-primary"
                                               href="{{ path('editarFuncionario', {id: funcionario.id }) }}"
                                               title="Editar"><i class="fa-solid fa-pen edit"></i> </a>
                                            <a class="btn btn-danger"
                                               href="{{ path('deleteFuncionario', {id: funcionario.id }) }}"
                                               title="Excluir"><i class="fa-solid fa-trash delete"></i> </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ asset('styles/JS/dados.js') }}"></script>

{% endblock %}